<ul>
    <li routerLinkActive="actived"><a [routerLink]="[ '/dashboard' ]">Dashboard</a></li>
    <li routerLinkActive="actived"><a [routerLink]="[ '/resumo' ]">Resumo</a></li>
    <li routerLinkActive="actived"><a [routerLink]="[ '/configuracoes' ]">Configurações</a></li>
</ul>