$primary: #333;
$secondary: #e0e0e0;
$colors: (
    primary: (
        base: $primary,
        light: lighten($primary, 10%),
        dark: darken($primary, 10%)
    ),
    secondary: (
        base: $secondary,
        light: lighten($secondary, 10%),
        dark: darken($secondary, 10%)
    ),
    ash: #979797,
    light: #c4c4c4,
    dark: #000,
    text: #202020
);

@function color($color-name, $color-variant:null) {
    // color variant is optional
    @if ($color-variant != null) {
        // map inception
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @return map-get($colors, $color-name);
    }
}