// FONTS
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import 'color-scheme.scss';
//============================================================= GENERAL
body, html {
    height: 100%;
}
body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: color('text');
}
* {
    box-sizing: border-box;
}
*:focus {
    outline: none; 
}
a {
    text-decoration: none;
    color: color('text');
    transition: .3s ease all;
    outline: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
input, select {
    font-family: 'Lato', sans-serif;
}
.text-right {
    text-align: right;
}

//============================================================= LAYOUT
.container {
    max-width: 1100px;
    padding: 0px 25px;
    margin: auto;
}
.bg-overlay {
    position: fixed;
    z-index: 9995;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.bg-overlay.open {
    display: block;
}
.page-pad {
    padding: 20px 0;
    overflow: hidden;
}
.col {
    float: left;
    padding: 0 10px;
}
.box-1 {
    border: 1px solid color('ash');
    border-radius: 5px;
    padding: 20px 13px;
    h3 {
        margin: 0 0 20px;
        text-align: center;
    }
}
.box-2 {
    padding: 20px 0px;
    h3 {
        margin: 0 0 20px;
        text-align: center;
    }
}
.mobile-icon {
    width: 20px;
    span {
        display: block;
        margin-bottom: 3px;
        height: 2px;
        width: 100%;
        background-color: color('primary', 'base');
    }
}

// ICONS
.icon-close {
    width: 20px;
    height: 20px;
    position: relative;
    span {
        position: absolute;
        top: 8px;
        left: 0;
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 4px;
        background-color: #fff;
    }
    span:first-child {
        transform: rotate(45deg)
    }
    span:last-child {
        transform: rotate(-45deg)
    }
}

//============================================================= FORM
.form {
    .line {
        margin-bottom: 20px;
        label {
            display: block;
            font-size: 0.9em;
            margin-bottom: 5px;
        }
        input, select, button {
            width: 100%;
            padding: 7px 10px;
            border: 1px solid #979797;
            border-radius: 5px;
        }
    }
    .line:last-child {
        margin-bottom: 0px;
    }
    select {
        appearance: none;
        background: url('/assets/images/arrow-down.png') no-repeat center right 10px;
    }
}
.button-1 {
    background-color: color('primary', 'base');
    color: #fff;
    cursor: hand;
    cursor: pointer;
}
.button-1.disabled {
    background-color: rgba($color: color('primary', 'base'), $alpha: 0.7);
    cursor: not-allowed !important;
}

//============================================================= LIST
.list {
    display: table;
    width: 100%;
    border-collapse: collapse;
    header, .item {
        display: table-row;
        border-bottom: 1px solid color('ash');
        padding: 10px 0;
    }
    .label, .val {
        display: table-cell;
        padding-bottom: 5px;
    }
    header {
        font-weight: 700;
    }
    .val {
        padding: 10px 0;
    }
}

/*
===========================================================================
============================================================= MEDIA QUERIES
*/

@media only screen and (max-width: 770px) {
    .container {padding: 0px 20px;}
    .col {float: none; width: 100% !important; padding: 0;}
    .col-left {margin-bottom: 25px;}
    .form {
        overflow: hidden;
        .line {float: left; padding: 0 10px;}
        .line.full {
            width: 100%;
            text-align: right;
            button {width: auto; padding: 7px 30px;}
        }
        .line.l1, .line.l3 {
            width: 27%;
        }
        .line.l2 {width: 46%;}
    }
}
@media only screen and (max-width: 510px) {
    .form {
        overflow: inherit;
        .line {
            float: none; width: 100%!important; padding: 0;
            button {width: 100% !important;}
        }
    }
    .box-1 {
        border: none;
        border-bottom: 1px solid color('ash');
        border-radius: 0;
        padding: 10px 0px 30px 0px;
        h3 {
            display: none;
        }
    }
}