<section class="dashboard-page page-pad">
	<!-- ======================================================================= LEFT COL -->
	<div class="col col-left">
		<div class="box-1">
			<h3>Nova transação</h3>

			<!-- FORM -->
			<div class="form">
				<form #form="ngForm" novalidade>
					<div class="line l1">
						<label for="type">Tipo de transação</label>
						<select name="type" id="type" [(ngModel)]="type" required>
							<option value="buy">Compra</option>
							<option value="sell">Venda</option>
						</select>
					</div>
					<div class="line l2">
						<label for="product">Nome da mercadoria</label>
						<input type="text" id="product" [(ngModel)]="product" name="product" maxlength="255" required>
					</div>
					<div class="line l3">
						<label for="price">Valor</label>
						<input type="text" name="price" id="price" currencyMask [(ngModel)]="price" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align:'left' }" placeholder="R$ 0,00" required>
					</div>
					<div class="line full">
						<button class="button-1" [disabled]="!form.valid" [class.disabled]="!form.valid" (click)="addTransaction()">Adicionar transação</button>
					</div>
				</form>
			</div>
			<!-- END FORM -->

		</div>
	</div>
	<!-- END LEFT COL -->

	<!-- ======================================================================= RIGHT COL -->
	<div class="col col-right">
		<div class="box-2">
			<h3>Extrato de transações</h3>

			<!-- LIST -->
			<div class="list">
				<header>
					<div class="label label-type"></div>
					<div class="label">Mercadoria</div>
					<div class="label text-right label-value">Valor</div>
				</header>
				<div class="item" *ngFor="let item of transactions">
					<div class="val list__type">{{ typeIcon[item.type] }}</div>
					<div class="val list__product">{{ item.product }}</div>
					<div class="val list__value text-right">{{item.price | currency:'BRL': true}}</div>
				</div>
				<div class="item" *ngIf="transactions.length == 0">
					<div class="val"></div>
					<div class="val">Não existem transações</div>
					<div class="val"></div>
				</div>
				<div class="item gap"></div>
				<div class="item result">
					<div class="val"></div>
					<div class="val">Total</div>
					<div class="val list__value--total text-right">{{total | currency:'BRL': true}}<span *ngIf="total != 0">[{{total < 0 ? 'PREJUÍZO' : 'LUCRO'}}]</span></div>
				</div>
			</div>
			<!-- END LIST -->
			
		</div>
	</div>
	<!-- END RIGHT COL -->

</section>