@import '../../../color-scheme.scss';
.dashboard-page {
    .col-left {
        width: 40%;
        padding-left: 0;
    }
    .col-right {
        width: 60%;
        padding-right: 0;
    }
    .list__type {
        padding-left: 20px;
        width: 40px;
    }
    .list__value {
        padding-right: 20px;
        min-width: 120px;
    }
    .label-type {
        padding-left: 20px;
        width: 40px;
    }
    .label-value {
        padding-right: 20px;
    }
    .item.gap {
        height: 3px;
    }
    .result {
        border-bottom: none;
        font-weight: 700;
        .val {
            border-top: 1px solid color('ash');
            margin-top: 10px;
        }
    }
    .list__value--total {
        padding-right: 20px;
        span {
            display: block;
            font-weight: 500;
            font-size: 0.7em;
        }
    }
}