@import '../../../color-scheme.scss';
#template-master {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    header.top {
        background-color: color('secondary', 'base');
        padding: 13px 0;
        .container {
            display: flex;
        }
    }
    .top__logotipo {
        img {
            height: 50px;
        }
    }
    .top__title {
        flex-grow: 1;
        align-self: center;
        padding: 0 15px;
        h1 {
            font-size: 1.3em;
            font-weight: 400;
            margin: 0;
        }
    }
    .top__menu {
        align-self: center;
        ul {
            background-color: #fff;
        }
        li {
            display: inline-block;
            padding: 10px 0;
            a {
                display: block;
                font-size: 1.0em;
                font-weight: 700;
                padding: 0 20px;
                border-right: 1px solid rgba($color: #000, $alpha: 0.3)
            }
        }
        li:last-child {
            a {
                border-right: none;
            }
        }
    }
    .top__menu--mobile {
        display: none;
        align-self: center;
    }
    .wrapper {
        flex-grow: 1;
    }
    footer.foot {
        height: 8px;
        background-color: color('primary', 'base');
    }
    .mobile {
        position: fixed;
        z-index: 9999;
        top: 0;
        right: -370px;
        height: 100%;
        width: 100%;
        max-width: 360px;
        background-color: color('primary', 'base');
        transition: .3s ease all;
        a {
            color: #fff;
        }
    }
    .mobile.open {
        right: 0;
    }
    .mobile__menu {
        li {
            text-align: right;
            margin-bottom: 5px;
            a {
                padding: 5px 20px;
                display: block;
                font-weight: 700;
            }
            a:hover {
                background-color: rgba($color: #FFF, $alpha: 0.2)
            }
        }
        li.actived {
            a {
                background-color: color('light');
                color: color('primary', 'base');
            }
        }
    }
    .mobile__button--close {
        padding: 20px;
    }
}

/*
===========================================================================
============================================================= MEDIA QUERIES
*/
@media only screen and (max-width: 770px) {
    #template-master {
        .top__menu {display: none;}
        .top__title {text-align: center;}
        .top__menu--mobile {display: block;}
    }
}